body {

        background: #A2DBFA;

}

.heading {

        
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        
        
}


.my-form {
        
        background: #E8F0F2;
        margin-top: 69px;
        margin-right: 90px;
        margin-bottom: 90px;
        margin-left: 90px;
        padding-left: 200px;
        padding-top: 22px;  
        padding-bottom: 150px;      
        
}

table {
        border-collapse: separate;
        border-spacing: 50px;
        
}

.first {

        text-align: right;
}

#subtitle {

        position: relative;
        left: 25%;
        

}

.btn {
        margin-top: 40px;
        position: relative;
        left: 35%;
}